

<h2>Libros disponibles</h2>
{{#each Books}}

<div>
    <h4>Author name: {{this.author}}</h4>
    <p> Book's name: {{this.name}} <br>
    </p>
   
    <p>--------------------------------------</p>

</div>

{{/each}}
