<div class="container almedio">
  <div class="head">
  <h1 class="head">Libros gratis</h1>
  <p>Esta es una iniciativa para compartir aquellos libros que estan sin derechos de autor y aun asi son 
  dificiles de hallar para su descarga. Un poco de arqueologuia digital! Esta vez nos toca a nosotros colaborar.
</p>
</div>
<img src="https://i.postimg.cc/Kj38Dn3r/Weird-Tales-volume-11-number-02-page-159-The-Call-of-Cthulu-uncaptioned.jpg" class="img-fluid" alt="...">
</div>
<div class="container">
<section>
  <p>Porfavor, descarga y contribuye con algun libro SIN derechos de autor que poseas o encuentras.</p>
</section>

<div class="container">
  <section>
    <h3>Nuestro objetivo:</h3>
    <p>Nuestro objetico es ser una biblioteca virtual colaborativa y 100% libre de derechos de autos</p>
    <h3>Que puedes hacer al visitarnos:</h3>
    <p>Puedes explorar nuestra base de datos y descargar cuantos libros quieras o bien guardarlos en tus favoritos para decidir mas tarde, proximamente lectura online!</p>
    <h4>Colabora:</h4>
    <p>Si estas interesado puedes contribuir, al registrarte podras subir libros SIN derechos de autor, recuerda SIN DERECHOS DE AUTOR.
    </p>
  </section>
</div>
</div>
