<div class="container almedio">
  <div class="head">
  <h1 class="head">Libros gratis sin derecho de autor</h1>
  <p>Esta es una iniciativa para compartir con todos, aquellos libros que estan sin derechos de autor y aun asi son 
  dificiles de hallar para su descarga.
</p>
</div>
<img src="https://i.postimg.cc/Kj38Dn3r/Weird-Tales-volume-11-number-02-page-159-The-Call-of-Cthulu-uncaptioned.jpg" class="img-fluid" alt="...">
</div>
<div class="container">
<section>
  <p>Porfavor, descarga y contribuye con algun libro SIN derechos de autor que poseas.</p>
</section>
</div>
