<form action="/upload" method="POST">

    <div class="form-group">
        <label for="name">Nombre del libro:</label>
        <input id="name" name="name" class="form-control" type="text" placeholder="Libro"></input>

        <label for="author">Nombre del autor:</label>
        <input id="author" name="author" class="form-control" type="text" placeholder="Autor"></input>

        <label for="idiom">Idioma</label>
        <input id="idiom" name="idiom" class="form-control" type="text" placeholder="Idioma"></input>

        <label for="url">URL a la descarga:</label>
        <input id="url" name="url" class="form-control" type="text" placeholder="Url"></input>

        <label for="imgUrl">URL a la portada o miniatura:</label>
        <input id="imgUrl" name="imgUrl" class="form-control" type="text" placeholder="Url imagen"></input>



        
            <label for="description">Breve descripción:</label>
            <textarea class="form-control" name="description"  id="description" rows="3"> 
    </textarea>
       
<input class="btn btn-primary" type="submit" value="Submit">

    </div>
</form>